#history {
  color: #999;
  margin-left: 15px;
  border-left: 5px solid #333333;
}
#history > p {
  margin-top: 25px;
  clear: left;
  position: relative;
  left: -23px;
}
#history > p:not(.active):hover {
  text-decoration: underline;
  cursor: pointer;
}
#history > p.active {
  font-weight: bold;
}
#history > p:first-child {
  margin-top: 0;
  top: -4px;
}
#history > p:last-child {
  top: 4px;
}
#history > p img {
  float: left;
}
#history > p img.draft {
  border: 3px solid #428bca;
}
#history > p img.release {
  border: 3px solid #5cb85c;
}
#history > p img.local {
  border: 3px solid #999999;
}
#history > p span {
  margin-left: 55px;
  display: block;
  padding: 10px 0;
}
#diff .table {
  border: 1px solid #cccccc;
}
#diff .table tr.active td {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
#diff .table tr td {
  border: 0px solid transparent;
  padding: 0 10px;
  margin: 0;
}
#diff .table tr td.line {
  border-right: 1px solid #EEE;
  padding: 0 10px;
  font-size: 13px;
  color: #AAA;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  text-align: center;
}
#diff .table tr.success td.line {
  border-right: 1px solid #cae2c0;
}
#diff .table tr.danger td.line {
  border-right: 1px solid #ebcece;
}
#diff .table tr.active td.line {
  border-right: 0px solid transparent;
}
#diff .table tr td pre {
  white-space: pre-wrap;
  /* css-3 */
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: 0px solid transparent;
}
#exit-fullscreen {
  position: fixed;
  left: 50%;
  top: 10px;
  margin-left: -57px;
  width: 115px;
  z-index: 1040;
}
#preview {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  font-size: 13px;
  line-height: 1.6;
}
#preview > *:first-child {
  margin-top: 0!important;
}
#preview > *:last-child {
  margin-bottom: 0!important;
}
#preview a {
  color: #4183C4;
  text-decoration: none;
}
#preview a:hover {
  text-decoration: underline;
}
#preview h1,
#preview h2,
#preview h3,
#preview h4,
#preview h5,
#preview h6 {
  margin: 20px 0 10px;
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}
#preview h1 tt,
#preview h1 code,
#preview h2 tt,
#preview h2 code,
#preview h3 tt,
#preview h3 code,
#preview h4 tt,
#preview h4 code,
#preview h5 tt,
#preview h5 code,
#preview h6 tt,
#preview h6 code {
  font-size: inherit;
}
#preview h1 {
  font-size: 28px;
  color: #000;
}
#preview h2 {
  font-size: 24px;
  border-bottom: 1px solid #ccc;
  color: #000;
}
#preview h3 {
  font-size: 18px;
}
#preview h4 {
  font-size: 16px;
}
#preview h5 {
  font-size: 14px;
}
#preview h6 {
  color: #777;
  font-size: 14px;
}
#preview p,
#preview blockquote,
#preview ul,
#preview ol,
#preview dl,
#preview li,
#preview table,
#preview pre {
  margin: 15px 0;
}
#preview hr {
  background: transparent url('../../images/modules/pulls/dirty-shade.png') repeat-x 0 0;
  border: 0 none;
  color: #ccc;
  height: 4px;
  padding: 0;
}
#preview > h2:first-child,
#preview > h1:first-child,
#preview > h1:first-child + h2,
#preview > h3:first-child,
#preview > h4:first-child,
#preview > h5:first-child,
#preview > h6:first-child {
  margin-top: 0;
  padding-top: 0;
}
#preview h1 + p,
#preview h2 + p,
#preview h3 + p,
#preview h4 + p,
#preview h5 + p,
#preview h6 + p {
  margin-top: 0;
}
#preview li p.first {
  display: inline-block;
}
#preview ul,
#preview ol {
  padding-left: 30px;
}
#preview ul li > :first-child,
#preview ol li > :first-child {
  margin-top: 0;
}
#preview ul li > :last-child,
#preview ol li > :last-child {
  margin-bottom: 0;
}
#preview dl {
  padding: 0;
}
#preview dl dt {
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  padding: 0;
  margin: 15px 0 5px;
}
#preview dl dt:first-child {
  padding: 0;
}
#preview dl dt > :first-child {
  margin-top: 0;
}
#preview dl dt > :last-child {
  margin-bottom: 0;
}
#preview dl dd {
  margin: 0 0 15px;
  padding: 0 15px;
}
#preview dl dd > :first-child {
  margin-top: 0;
}
#preview dl dd > :last-child {
  margin-bottom: 0;
}
#preview blockquote {
  border-left: 4px solid #DDD;
  padding: 0 15px;
  color: #777;
  font-size: 0.85em;
}
#preview blockquote > :first-child {
  margin-top: 0;
}
#preview blockquote > :last-child {
  margin-bottom: 0;
}
#preview table {
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 100%;
  font: inherit;
}
#preview table tr {
  border-top: 1px solid #ccc;
  background-color: #fff;
  margin: 0;
  padding: 0;
}
#preview table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
#preview table tr th {
  font-weight: bold;
}
#preview table tr th,
#preview table tr td {
  border: 1px solid #ccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}
#preview table tr th > :first-child,
#preview table tr td > :first-child {
  margin-top: 0;
}
#preview table tr th > :last-child,
#preview table tr td > :last-child {
  margin-bottom: 0;
}
#preview img {
  max-width: 100%;
}
#preview span.frame {
  display: block;
  overflow: hidden;
}
#preview span.frame > span {
  border: 1px solid #ddd;
  display: block;
  float: left;
  overflow: hidden;
  margin: 13px 0 0;
  padding: 7px;
  width: auto;
}
#preview span.frame span img {
  display: block;
  float: left;
}
#preview span.frame span span {
  clear: both;
  color: #333;
  display: block;
  padding: 5px 0 0;
}
#preview span.align-center {
  display: block;
  overflow: hidden;
  clear: both;
}
#preview span.align-center > span {
  display: block;
  overflow: hidden;
  margin: 13px auto 0;
  text-align: center;
}
#preview span.align-center span img {
  margin: 0 auto;
  text-align: center;
}
#preview span.align-right {
  display: block;
  overflow: hidden;
  clear: both;
}
#preview span.align-right > span {
  display: block;
  overflow: hidden;
  margin: 13px 0 0;
  text-align: right;
}
#preview span.align-right span img {
  margin: 0;
  text-align: right;
}
#preview span.float-left {
  display: block;
  margin-right: 13px;
  overflow: hidden;
  float: left;
}
#preview span.float-left span {
  margin: 13px 0 0;
}
#preview span.float-right {
  display: block;
  margin-left: 13px;
  overflow: hidden;
  float: right;
}
#preview span.float-right > span {
  display: block;
  overflow: hidden;
  margin: 13px auto 0;
  text-align: right;
}
#preview code,
#preview tt {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px;
}
#preview pre > code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent;
}
#preview .highlight pre,
#preview pre {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}
#preview pre code,
#preview pre tt {
  background-color: transparent;
  border: none;
}
